
.task-buttons button {
    background: none;
    outline: none;
    border: 1px solid skyblue;
    text-align: center;
    background-color: lightgray;
}


li {
    cursor: pointer;
    overflow-wrap: break-word;
}

.completed {
    text-decoration-line: line-through;
}

.bookmarked {
    color: red;
}


.task-list {
    list-style-type: none;
    margin: 0;
    padding:10px;
    background-color: #ecf0f1;
}
.task-list li {
    margin: 5px;
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.task-list li:hover {
    border: none;
    background-color: #bdc3c7;
    opacity: 0.5%;
}

.task-body {

    position: relative;
    top: -10px;
    display: inline-block;
    font-size: 1em;
    margin-top: 10px;
}

.task-footer {
    margin-top: 10px;
    font-size: 0.7em;
}

.vote{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor:pointer;
    width: 40px;
    text-align: center;
    font-size: 1.3em;
    user-select: none;
}
  
.vote-up{
    color: green;
}
.vote-down{
    color: red;
}

.vote-count-total {
    position: absolute;
    left: 15px;
    top: 19px;
}

