.app-container {
    width: 80%;
}
.task-buttons button {
 border: 0;
 background: none;
 box-shadow: none;
 border-radius: 0px;
 font-size: 1.5em;
 outline: none;
}

.task-buttons button:hover {
    color: skyblue;
}


li {
    cursor: pointer;
}

.completed {
    text-decoration-line: line-through;
}

.bookmarked {
    color: red;
}

.filter-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #3498db;
}

.filter-container a {
    text-decoration-line: none;
    padding: 5px;
}

a.filter-current {
    text-decoration: underline;
    color: red;
    background-color: white;
}

.button-add {
    background-color: #3498db;
    outline: none;
    text-decoration: none;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}
.task-list {
    list-style-type: none;
    margin: 0;
    padding:10px;
    background-color: #ecf0f1;
}
.task-list li {
    margin: 5px;
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.task-list li:hover {
    border: none;
}

.task-body {

    position: relative;
    top: -10px;
    display: inline-block;
    font-size: 1.3em;
    margin-top: 10px;
}

.vote{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    cursor:pointer;
    width: 40px;
    text-align: center;
    font-size: 1.3em;
    user-select: none;
}
  
.vote-up{
    color: green;
}
.vote-down{
    color: red;
}

.vote-count-total {
    position: absolute;
    left: 15px;
    top: 19px;
}