<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h2>Todo</h2>
  <form>
    <input name="newTodo" type="text" #newTodo />  <button (click)="addTodo(newTodo)">SUBMIT</button>
  </form> 

  <ul>
    <li
      *ngFor="let todo of todos">
        <input *ngIf="todo.edit" #dirtyTodo 
          (keyup) ="editTodo($event, todo.id, dirtyTodo.value)" 
          value={{todo.title}} />
        <span  *ngIf="!todo.edit">{{todo.title}}</span>
      <span>
          <button (click)="toggleEdit(todo.id)">&#x270D;</button>
          <button (click)="deleteTodo(todo.id)">&#x2716;</button>
          <button>&#x2606;</button>
      </span>
    </li>
  </ul>
</div>

