<div>
  <form [formGroup]="registerForm" novalidate (ngSubmit)="save()">
    <div>
      <label for="username">Username </label>
      <input id="username" type="text" required  formControlName="username"/>
    </div>
    <div>
      <label for="email">Email </label>
      <input id="email" type="email" formControlName="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" required type="password" formControlName="password" />
    </div>
    <div>
      <button type="submit" [disabled]="!registerForm.valid">Save</button>
    </div>
  </form>
</div>
